*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff ;
}

header{
    background-color: #2f0064;
    color: #fff;
    height: 40px;
}
nav{
    background-color: #44117e;
    gap: 20px;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
}


main{
    height: 1700px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosdois{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.txt{
    width: 150px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.sobremim{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.sonhos{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

.tit{
    padding-top: 20px;
    gap: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divs{
    background-color: #fff;
    width: 100vw;
    height: 1px;
}


footer{
    background-color: black;
    height: 20px;
}

