*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff ;
}

@font-face {
    font-family: 'baby';
    src: url(Baby\ Love.otf);
}
@font-face {
    font-family: 'cute';
    src: url(Cute\ Love.ttf);
}

@font-face {
    font-family: 'lovely';
    src: url(Lovely\ font\ demo.ttf);
}

@font-face {
    font-family: 'caviar';
    src: url(CaviarDreams.ttf);
}

header{
    font-size: 30px;
    font-family: 'lovely';
    background-color: #2f0064;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'cute';
    font-size: 50px;
    color: #fff;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

nav{
    background-color: #44117e;
    gap: 20px;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'caviar';
}

img{
    width: 170px;
    height: 300px;
}

main{
    height: 1800px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosdois{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.txt{
    font-family: 'caviar';
    width: 150px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.sobremim{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.sonhos{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

.tit{
    padding-top: 20px;
    gap: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divs{
    background-color: #fff;
    width: 100vw;
    height: 1px;
}


footer{
    background-color: black;
    height: 20px;
    font-family: 'caviar';
    font-size: 10px;
}

