*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff ;
}

header{
    background-color: #660202;
    color: #fff;
    height: 40px;
}
nav{
    background-color: #660202;
    gap: 20px;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
}


main{
    height: 1500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosdois{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.txt{
    width: 200px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.sobremim{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.sonhos{
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}



.txt{
    width: 200px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

footer{
    background-color: black;
    height: 20px;
}

